# Compiled class files
*.class

# Log files
*.log
logs/
*.pid
*.out

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Maven #
target/

# Gradle #
.gradle/
build/

# Ignore Gradle log files
.gradle/
build/
out/
!gradle-wrapper.jar

# Gradle caches
.gradle/caches/
.gradle/gradle-app.setting/

# Project files
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Eclipse files
.project
.classpath
.c9/
.settings/
bin/
*.swp

# IntelliJ IDEA files
*.idea/
*.iml

# STS (Spring Tool Suite) files
.springBeans/

# OS-specific files
.DS_Store
Thumbs.db

# Git files
*.orig

# Environment variables
.env
.env.local
.env.*.local

# macOS system files
.DS_Store

# Gradle build-related files
*.bin
*.lock
*.probe

# Gradle caches and output
.gradle/
build/
.gradle/file-system.probe
.gradle/7.6.4/executionHistory/executionHistory.bin
.gradle/7.6.4/executionHistory/executionHistory.lock
.gradle/7.6.4/fileHashes/fileHashes.bin
.gradle/7.6.4/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
src/main/java/com/.DS_Store
.DS_Store
